APP_SERVICE_NAME=iot-devices
APP_ENV=development
APP_VERSION=1.0.0

LOG_LEVEL=debug
JSON_SCHEMA_BASE_PATH=./schemas

HTTP_HOST=0.0.0.0
HTTP_PORT=8000
HTTP_READ_TIMEOUT=30
HTTP_WRITE_TIMEOUT=30

PGSQL_HOST=localhost
PGSQL_HOST_READER=localhost
PGSQL_USER=postgres
PGSQL_PASS=postgres
PGSQL_PORT=5432
PGSQL_DATABASE=spcd_db

MIGRATIONS_PATH="./migrations"

REDIS_HOST=localhost
REDIS_PORT=6379

OTEL_GRPC_HOST=localhost
OTEL_GRPC_PORT=4317

DYNAMIC_PARAMETERS_FILE_PATH=./dynamic-parameters.yaml
DYNAMIC_PARAMETERS_API_KEYS="antonio@weffective.com,a3XiaYUrkHj2T5bM5eryei0jD6e8x2Ef"